{% extends "base.html" %}

{% block content %}
<h2>Predstavljam vam neke od mojih radova sa edukacije:</h2>
<h2>Fakebook Links</h2>
<p><a href="https://github.com/S-tipe/fakebook1domaci.git">Visit Fakebook</a></p>

<h2>Boogle Links</h2>
<p><a href="https://github.com/S-tipe/Boogle/blob/main/Boogle.html">Visit Boogle</a></p>

<h2>Calculator Links</h2>
<p><a href="https://github.com/S-tipe/Calculator.git">Visit Calculator</a></p>

<img src="/static/img/smartninja-logo.png">
{% endblock content %}

